#page-container {
    display: flex;
    justify-content: center;
}

#game-container {
    display: flex;
    flex-direction: column;
    gap: 5px;

    border: black 2px solid;
    width: 600px;
    height: auto;
}

#game-container div {
    border: red 1px solid;
}

#control-panel {
    text-align: center;
}

.shape-button {
    width: 100px;
    height: 100px;
    font-size: 50px;

}

.score {
    font-weight: bold;
    text-align: center;
    flex: 1 1 0;
    font-size: 20px;
}

#score-view {
    display: flex;
    justify-content: center;

}

#match-view {
    display: flex;
    justify-content: center;
}

.shape-display {
    flex: 1 1 0;

    text-align: center;
}

.shape {
    font-size: 64px;
    text-shadow: 0px 0px 5px;
}